@charset "utf-8";

@import "common.scss";

.circle-overlay {
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 1px 1px 4px #ccc;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
}
.overlays {
  position: absolute;
  z-index: 99;
  white-space: nowrap;
  overflow: hidden;
  &.hide {
    display: none;
    max-width: 0;
    transition: max-width 1s, display 1s;
  }
  &.show {
    display: block;
    max-width: 400px;
    transition: max-width 1s, display 1s;
  }
  .cluster-overlay {
    float: left;
  }
}

.overlay {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.85);
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #eeeeee;
  &:after {
    top: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
  }
  &:after {
    border-top-color: rgba(255, 255, 255, 0.85);
    border-width: 10px;
    left: calc(50% - 10px);
  }
  ul {
    li {
      height: 25px;
      line-height: 25px;
      &:first-child {
        font-weight: bold;
        height: 30px;
        line-height: 30px;
      }
    }
  }
}

.title {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 99;
  text-align: left;
  img {
    width: 70px;
    height: 70px;
    vertical-align: middle;
  }
  span {
    display: inline-block;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px #000;
    color: white;
  }
}

.statics {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 99;
  overflow: hidden;
  .tips {
    text-align: right;
    height: 40px;
    line-height: 40px;
  }
  table {
    width: 100%;
    background-color: rgba(200, 200, 200, 0.1);
    border-radius: 5px;
    th,
    td {
      width: calc(100% / 3);
      padding: 3px 15px;
    }
    th {
      font-size: 20px;
    }
    td {
      text-align: center;
    }
  }
}

.legend {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 99;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  box-shadow: 1px 1px 3px #eeeeee;
  white-space: nowrap;
  padding: 5px;
  li {
    height: 25px;
    line-height: 25px;
    padding: 0 10px;

    &:first-child {
      font-weight: bold;
    }

    span {
      display: inline-block;
      width: 24px;
      height: 12px;
      margin-right: 3px;
    }
  }
}

.table {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  box-shadow: 1px 1px 3px #eeeeee;
  white-space: nowrap;
  padding: 10px 0 10px 5px;
  .tbody {
    max-height: 150px;
    overflow-y: auto;
    margin-top: 6px;
    tr {
      &:nth-child(2n) {
        background-color: rgba(200, 200, 200, 0.1);
      }
      td {
        text-align: right;
        &:first-child {
          text-align: left;
        }
      }
    }
  }
  table {
    td,
    th {
      padding: 5px 8px;
    }
  }
}

.drag-panel {
  width: 400px;
  height: 200px;
  background-color: darken(red, 0.8);
  position: absolute;
}

.chart {
  width: 400px;
  height: 200px;
  position: absolute;
  border: 1px solid #eee;
}

.track-div {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 500px;
  height: 10px;
  border-radius: 50px;
  background-color: #ccc;
  .drag-div {
    position: absolute;
    top: -5px;
    left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(255, 0, 0, 0.5);
  }
}
.time-label {
  position: absolute;
  font-size: 14px;
  padding: 5px 10px;
  background-color: rgba(255,255,255,0.65);
  z-index: 99;
  left: calc(50% - 20px);
  top: 20px;
  border-radius: 5px;
}

.ctrl-button {
  position: absolute;
  font-size: 14px;
  padding: 5px 10px;
  background-color: rgba(255,255,255,0.65);
  z-index: 99;
  right: 20px;
  top: 20px;
  border-radius: 5px;
  label {
    display: inline-block;
    width: 60px;
  }
  button {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: none;
    background-color: darkcyan;
    color: antiquewhite;
    cursor: pointer;
  }
  li {
    float: left;
    border: 1px solid forestgreen;
    padding: 5px 8px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    &.active {
      background-color: forestgreen;
      color: white;
    }
    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-right: none;
    }
    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-left: none;
    }
  }
}

$black65: rgba(0, 0, 0, 0.65);
$white65: rgba(255, 255, 255, 0.65);

.map-label {
  background-color: $black65;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 12px;
  color: antiquewhite;
  &:after {
    top: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
  }
  &:after {
    border-top-color: $black65;
    border-width: 5px;
    left: calc(50% - 5px);
  }
}

.typhoon-label {
  background-color: $white65;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 12px;
  color: black;
  &:after {
    top: 6px;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
  }
  &:after {
    border-right-color: $white65;
    border-width: 5px;
    left: -10px;
  }
}

.my-popup {
  color: white;
  .mapboxgl-popup-content {
    background-color: $black65;
    margin: 0;
    padding: 5px;
    white-space: nowrap;
    font-size: 12px;
    h5 {
      margin: 0;
      padding: 0;
      font-size: 14px;
    }
  }
  .mapboxgl-popup-tip {
    border-top-color: $black65 !important;
  }
}
