@charset "UTF-8";
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F9F9F9; }

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5; }

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #999; }

#app,
#map,
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 16px; }
  #app .ol-zoom,
  #map .ol-zoom,
  body .ol-zoom,
  html .ol-zoom {
    display: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.map {
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 0;
  left: 0; }

.circle-overlay {
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 1px 1px 4px #ccc;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  cursor: pointer; }

.overlays {
  position: absolute;
  z-index: 99;
  white-space: nowrap;
  overflow: hidden; }
  .overlays.hide {
    display: none;
    max-width: 0;
    transition: max-width 1s, display 1s; }
  .overlays.show {
    display: block;
    max-width: 400px;
    transition: max-width 1s, display 1s; }
  .overlays .cluster-overlay {
    float: left; }

.overlay {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.85);
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #eeeeee; }
  .overlay:after {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .overlay:after {
    border-top-color: rgba(255, 255, 255, 0.85);
    border-width: 10px;
    left: calc(50% - 10px); }
  .overlay ul li {
    height: 25px;
    line-height: 25px; }
    .overlay ul li:first-child {
      font-weight: bold;
      height: 30px;
      line-height: 30px; }

.title {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 99;
  text-align: left; }
  .title img {
    width: 70px;
    height: 70px;
    vertical-align: middle; }
  .title span {
    display: inline-block;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px #000;
    color: white; }

.statics {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 99;
  overflow: hidden; }
  .statics .tips {
    text-align: right;
    height: 40px;
    line-height: 40px; }
  .statics table {
    width: 100%;
    background-color: rgba(200, 200, 200, 0.1);
    border-radius: 5px; }
    .statics table th,
    .statics table td {
      width: calc(100% / 3);
      padding: 3px 15px; }
    .statics table th {
      font-size: 20px; }
    .statics table td {
      text-align: center; }

.legend {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 99;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  box-shadow: 1px 1px 3px #eeeeee;
  white-space: nowrap;
  padding: 5px; }
  .legend li {
    height: 25px;
    line-height: 25px;
    padding: 0 10px; }
    .legend li:first-child {
      font-weight: bold; }
    .legend li span {
      display: inline-block;
      width: 24px;
      height: 12px;
      margin-right: 3px; }

.table {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  box-shadow: 1px 1px 3px #eeeeee;
  white-space: nowrap;
  padding: 10px 0 10px 5px; }
  .table .tbody {
    max-height: 150px;
    overflow-y: auto;
    margin-top: 6px; }
    .table .tbody tr:nth-child(2n) {
      background-color: rgba(200, 200, 200, 0.1); }
    .table .tbody tr td {
      text-align: right; }
      .table .tbody tr td:first-child {
        text-align: left; }
  .table table td,
  .table table th {
    padding: 5px 8px; }

.drag-panel {
  width: 400px;
  height: 200px;
  background-color: #fb0000;
  position: absolute; }

.chart {
  width: 400px;
  height: 200px;
  position: absolute;
  border: 1px solid #eee; }

.track-div {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 500px;
  height: 10px;
  border-radius: 50px;
  background-color: #ccc; }
  .track-div .drag-div {
    position: absolute;
    top: -5px;
    left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(255, 0, 0, 0.5); }

.time-label {
  position: absolute;
  font-size: 14px;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.65);
  z-index: 99;
  left: calc(50% - 20px);
  top: 20px;
  border-radius: 5px; }

.ctrl-button {
  position: absolute;
  font-size: 14px;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.65);
  z-index: 99;
  right: 20px;
  top: 20px;
  border-radius: 5px; }
  .ctrl-button label {
    display: inline-block;
    width: 60px; }
  .ctrl-button button {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: none;
    background-color: darkcyan;
    color: antiquewhite;
    cursor: pointer; }
  .ctrl-button li {
    float: left;
    border: 1px solid forestgreen;
    padding: 5px 8px;
    margin: 0;
    list-style: none;
    cursor: pointer; }
    .ctrl-button li.active {
      background-color: forestgreen;
      color: white; }
    .ctrl-button li:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-right: none; }
    .ctrl-button li:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-left: none; }

.map-label {
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 12px;
  color: antiquewhite; }
  .map-label:after {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .map-label:after {
    border-top-color: rgba(0, 0, 0, 0.65);
    border-width: 5px;
    left: calc(50% - 5px); }

.typhoon-label {
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 12px;
  color: black; }
  .typhoon-label:after {
    top: 6px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .typhoon-label:after {
    border-right-color: rgba(255, 255, 255, 0.65);
    border-width: 5px;
    left: -10px; }

.my-popup {
  color: white; }
  .my-popup .mapboxgl-popup-content {
    background-color: rgba(0, 0, 0, 0.65);
    margin: 0;
    padding: 8px;
    white-space: nowrap;
    font-size: 12px; }
    .my-popup .mapboxgl-popup-content h5 {
      margin: 0 0 3px 0;
      padding: 3px 0;
      font-size: 14px; }
    .my-popup .mapboxgl-popup-content label {
      display: inline-block;
      text-align: right;
      width: 65px; }
  .my-popup .mapboxgl-popup-tip {
    border-top-color: rgba(0, 0, 0, 0.65) !important; }
  .my-popup .mapboxgl-popup-close-button {
    color: white; }

.color-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 5px; }

.color-line {
  display: inline-block;
  width: 20px;
  height: 0;
  margin-right: 3px;
  margin-bottom: 4px;
  border-bottom: 2px dashed #000; }

.typhoon-legend {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.65);
  padding: 10px;
  list-style: none;
  margin: 0;
  font-size: 12px;
  border-radius: 5px; }

.layers-panel {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.65);
  padding: 10px;
  list-style: none;
  margin: 0;
  font-size: 12px;
  border-radius: 5px; }
  .layers-panel .parent {
    font-weight: bold; }
  .layers-panel .child {
    margin-left: 8px;
    font-weight: normal; }

#timeline {
  position: absolute;
  bottom: 35px;
  display: none;
  z-index: 99;
  width: calc(100% - 140px);
  left: 70px; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.typhoon-image {
  overflow: hidden;
  display: none; }

.typhoon-icon {
  width: 50px;
  height: 50px;
  background: url("typhoon.png");
  animation: rotate 1s linear infinite; }

.map-legend {
  position: absolute;
  z-index: 99;
  bottom: 15px;
  left: 15px;
  padding: 10px;
  font-size: 12px;
  background-color: white;
  opacity: 0.65; }
  .map-legend li {
    height: 13px;
    line-height: 13px; }
    .map-legend li span {
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-right: 4px; }

/*# sourceMappingURL=main.css.map */
