<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>白天不懂夜的黑</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../css/main.css">
  <link href="lib/mapbox-gl.css" rel="stylesheet" />
</head>

<body>
  <div id="app">
    <div id="map"></div>
    <div class="layers-panel">
      <ul>
        <li
          v-for="(item, index) in layers"
          :key="index"
          class="parent">
          <input
           type="checkbox"
           :value="item.code"
           :checked="item.checked"
           @click="checkedNode(item)">
          {{ item.name }}
          <ul>
            <li
              v-for="(_item, _index) in item.children"
              :key="_index"
              class="child">
              <input
               type="checkbox"
               :value="_item.code"
               :checked="_item.checked"
               @click="checkedNode(_item)">
              {{ _item.name }}
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <script src="lib/mapbox-gl.js"></script>
  <!-- <script src="lib/geojson-vt.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  <script>
    var that, map;

    var app = new Vue({
      el: '#app',
      data() {
        return {
          layers: [
            {
              name: 'points',
              code: 'points',
              checked: false,
              children: [
                {name: 1, code: 1, checked: true},
                {name: 2, code: 2, checked: true},
                {name: 3, code: 3, checked: false},
                {name: 4, code: 4, checked: false},
                {name: 5, code: 5, checked: false},
                {name: 6, code: 6, checked: false}
              ]
            }
          ],
          checked: []
        }
      },
      mounted: function() {
        that = this;
        that.initMap();
      },
      watch: {
        layers: {
          handler(val) {
            that.setLayerFilter();
          },
          deep: true
        },
        checked:{
          handler(val) {
            var filter = ["in", 'type']
            filter = filter.concat(val);
            map.setFilter('points', ['all', filter]);
          },
          deep: true
        }
      },
      methods: {
        initMap: function() {
          const token = 'pk.eyJ1IjoibHp1bml1anAwOCIsImEiOiJjam5iZmZwamMwN3RnM2twOHByeHJ4NzJoIn0.IVVIcCdRmFQE8-nQF-8wTA';
          mapboxgl.accessToken = token;
          var mapStyle = {
            "version": 8,
            "name": "Dark",
            "sources": {
              "XYZTile": {
                "type": "raster",
                "tiles": ['http://www.google.cn/maps/vt?lyrs=s@189&gl=cn&x={x}&y={y}&z={z}'],
                "tileSize": 256
              }
            },
            "layers": [{
                "id": "XYZTile",
                "type": "raster",
                "source": "XYZTile",
                "minzoom": 0,
                "maxzoom": 22
              }
            ]
          };

          map = new mapboxgl.Map({
            container: 'map',
            maxZoom: 18,
            minZoom: 0,
            zoom: 9,
            center: [114.251702,30.552128],
            style: mapStyle,
            attributionControl: false
          });
          map.on('load', function() {
            that.addPoints();
          });
        },
        checkedNode(node) {
          node.checked = !node.checked;
          if(node.children) {
            for(var i = 0; i < node.children.length;i++) {
              var child = node.children[i];
              child.checked = node.checked;
            }
          }
        },
        setLayerFilter() {
          for(var i = 0;i<that.layers.length;i++) {
            var children = that.layers[i].children;
            var checked = [];
            for(var j = 0;j<children.length;j++) {
              var c = children[j];
              if(c.checked) checked.push(c.code);
            }
            that.checked = checked;
          }
        },
        addPoints() {
          map.addSource('points',{
              'type':'vector',
              'scheme':'tms',
              'tiles':['http://localhost:8086/geoserver/gwc/service/tms/1.0.0/jtmet%3Apoints@EPSG%3A900913@pbf/{z}/{x}/{y}.pbf']
          });

          map.addLayer({
            'id': 'points',
            'type': 'circle',
            'source': 'points',
            'source-layer':'points',
            'minzoom': 9,
            'paint': {
              'circle-radius': 3,
              'circle-opacity': 0.8,
              'circle-color': [
                'match',
                ['get', 'type'],
                1, '#0098a3',
                2, '#00ca8d',
                3, '#37C508',
                4, '#98f300',
                5, '#efff85',
                '#0098a3' // 无匹配值颜色
              ],
              'circle-blur': 0.8
            }
          });
          that.checked = [1, 2];
        }
      }
    });
  </script>
</body>

</html>
