<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>白天不懂夜的黑</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../css/main.css">
  <link href="lib/mapbox-gl.css" rel="stylesheet" />
</head>

<body>
  <div id="app">
    <div class="ctrl-button">
      <input type="checkbox" name="typhoon" value="201929"> 巴蓬
      <input type="checkbox" name="typhoon" value="201928"> 北冕
    </div>
    <ul class="typhoon-legend">
      <li style="padding-bottom: 5px;font-weight: bold;">
        台风图例
      </li>
      <li
        v-for="(value, key) in colorDict"
        :key="key">
        <span
          class="color-circle"
          :style="{background: value}"></span>
        {{ key }}
      </li>
      <li style="padding: 5px 0;font-weight: bold;">
        预报机构
      </li>
      <li
        v-for="(value, key) in lineColorDict"
        :key="key">
        <span
          class="color-line"
          :style="{borderColor: value}"></span>
        {{ key }}
      </li>
    </ul>
    <div id="map"></div>
  </div>
  <script src="lib/mapbox-gl.js"></script>
  <script src="lib/proj4.js"></script>
  <script src="lib/typhoon.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  <script>
    var map;
    var app = new Vue({
      el: '#app',
      data: {
        colorDict: {
          '热带低压(TD)': '#20f634',
          '热带风暴(TS)': '#2078fd',
          '强热带风暴(STS)': '#eaf232',
          '台风(TY)': '#eab434',
          '强台风(STY)': '#e085f7',
          '超强台风(Super TY)': '#ea2a34'
        },
        lineColorDict: {
          '中国': '#ec5d72',
          '中国香港': '#ec7cfe',
          '中国台湾': '#ecaa65',
          '日本': '#56f66e',
          '美国': '#53dbfe',
          '韩国': '#72a4ac',
          '欧洲': '#4c54a6'
        }
      },
      mounted: function() {
        this.initMap();
        Date.prototype.format = function(fmt) {
          var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
          };
          if (/(y+)/.test(fmt)) {
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
          }
          for (var k in o) {
            if (new RegExp("(" + k + ")").test(fmt)) {
              fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            }
          }
          return fmt;
        };
      },
      methods: {
        initMap: function() {
          const token = 'pk.eyJ1IjoibHp1bml1anAwOCIsImEiOiJjam5iZmZwamMwN3RnM2twOHByeHJ4NzJoIn0.IVVIcCdRmFQE8-nQF-8wTA';
          mapboxgl.accessToken = token;
          var mapStyle = {
            "version": 8,
            "name": "Dark",
            "sources": {
              "XYZTile": {
                "type": "raster",
                "tiles": ['http://www.google.cn/maps/vt?lyrs=s@189&gl=cn&x={x}&y={y}&z={z}'],
                "tileSize": 256
              }
            },
            "layers": [{
              "id": "XYZTile",
              "type": "raster",
              "source": "XYZTile",
              "minzoom": 0,
              "maxzoom": 22
            }]
          };

          map = new mapboxgl.Map({
            container: 'map',
            maxZoom: 18,
            minZoom: 0,
            zoom: 4,
            center: {
              lng: 130.5711,
              lat: 10.03303
            },
            style: mapStyle,
            attributionControl: false
          });

          map.on('load', function() {
            Typhoon.init();
            $('input[name=typhoon]').click(function () {
              var check = this.checked;
              var code = $(this).val();
              Typhoon.checkTyphoon(check, code);
            })
          });
        }
      }
    });
  </script>
</body>

</html>
